@mixin main-font-info {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
@mixin red-button {
  background: #FD5252;
  border-radius: 10px;
  height: 36px;
  width: 220px;
}
@mixin navbar {
  position: absolute;
  width: 1440px;
  height: 75px;
  left: 0px;
  top: 0px;
  background: #FFF6DF;
}
@mixin list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  list-style-type: none;
  width: 90%;
  margin: 0;
}
@mixin blue-box {
  width: 75%;
  margin-left: 15%;
  background: #467DCF;
  border-radius: $slight-curve;
  height: 80%;
}
